body {
    background-color: rgb(49, 48, 48);
    background-image: url('/resources/Images/Em_bg.jpg');
}

h2,p{
    font-family: "Ga Maamli", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: rgb(129, 126, 126);
}

h2{
    font-size: 25px;
}



#mmlp{
    background-image: url('/resources/Images/Em_mmlp_bg.jpg');
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 5pt;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
}

#show{
    background-image: url('/resources/Images/Em_show_landscape.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    margin-bottom: 5pt;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
}

#encore{
    background-image: url('/resources/Images/EM_encore_bg.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 5pt;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
}

#relapse{
    background-image: url('/resources//Images/Em_relapse_bg.jpg');
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 5pt;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
}
#recovery{
    background-image: url('/resources//Images/Em_recovery_bg.jpg');
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 5pt;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
}

#revival{
    background-image: url('/resources/Images/Em_revival.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 5pt;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
}

#kamakazee{
    background-image: url('/resources/Images/Em_kamakazee_bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    margin-bottom: 5pt;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
}

#MTBMB{
    background-image: url('/resources/Images/Em_mtbmb_A_bg.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 5pt;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
}

#Side{
    background-image: url('/resources/Images/Em_mtbmb_B_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 5pt;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
}

.review img{
    display: inline-block;
    width: 35%;
    border-radius: 15px;
    border: 5px;
    margin-right: 5px;
}

.review{
    border-radius: 20px;
}

.text{
    display: inline-block;
    color: white;
    width: 55%;
    margin-left: 10px;
    vertical-align: top;
}

